body {
    background-image:url("weather1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }
#output{
    color:black;
    text-align: center;
    font-size: 40px;
}
#output1{
    color:black;
    text-align: center;
    font-size: 40px;
}
#output2{
    color:black;
    text-align: center;
    font-size: 40px;
}
#btn{
    color:brown;
    align-items:center;
}